absl-py==0.7.1
astor==0.7.1
Click==7.0
cycler==0.10.0
Cython==0.29.7
EasyProcess==0.2.7
Flask==1.0.2
gast==0.2.2
grpcio==1.20.1
h5py==2.9.0
imutils==0.5.2
itsdangerous==1.1.0
Jinja2==2.10.1
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
Markdown==3.1
MarkupSafe==1.1.1
mock==3.0.5
nltk==3.4.5
numpy==1.16.2
oauthlib==2.1.0
pdf2image==1.7.1
Pillow==6.0.0
protobuf==3.7.1
pyparsing==2.4.0
pyscreenshot==0.5.1
PySocks==1.6.8
pytesseract==0.3.0
python-dateutil==2.8.0
python-slugify==1.2.6
requests-oauthlib==1.0.0
Shapely==1.6.4.post2
singledispatch==3.4.0.3
six==1.12.0
tensorboard==1.13.1
tensorflow==1.15.4
tensorflow-estimator==1.13.0
termcolor==1.1.0
tqdm==4.28.1
tweepy==3.7.0
Unidecode==1.0.23
Werkzeug==0.15.4
